<div class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" routerLink="/">Sidirgot</a>
    </div>

    <span class="nav-toggle" (click)="toggleNav = !toggleNav;" [ngClass]="{'is-active': toggleNav}">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu" [ngClass]="{'is-active': toggleNav}">
      <a class="nav-item r-item" routerLink="/">Home</a>
      <a class="nav-item" href="#">About</a>
      <a class="nav-item" href="#">Features</a>
      <a class="nav-item r-item" routerLink="/faq">FAQ</a>

    <div class="nav-item">
      <div class="control">
        <a class="button is-primary is-outlined" href="">
          <span class="icon">
            <i class="fa fa-download"></i>
          </span>
          <span>JoinNow</span>
        </a>
      </div>
    </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="is-primary">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="column has-text-right">
        <a class="icon" href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="icon" href="#">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>

  </div>
</footer>
